/* Estilos para o formulário de registro */
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form label {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
    display: block;
    font-weight: 600;
}

.registration-form input[type="text"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #e48900;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form button:hover {
    background-color: #d17800;
}

.registration-form input:focus {
    border-color: #e48900;
    outline: none;
}

/* Estilos para o formulário de login */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form label {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
    display: block;
    font-weight: 600;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #e48900;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #d17800;
}

.login-form input:focus {
    border-color: #e48900;
    outline: none;
}
