@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%; 
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #e48900;
}

.home-container {
    margin-top: 100px;
}

.home-container h2 {
    text-align: center;
    color: #e48900;
    margin: 20px 0;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.search-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#search-input {
    padding: 10px;
    border: none;
    outline: none;
    width: 300px;
    font-size: 16px;
}

#search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.search-icon {
    height: 24px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    justify-content: center; /* Centraliza os cards */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px); /* Largura de cada card (3 cards por linha com espaçamento) */
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: left;
}

.card h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0 5px 0;
}

.card p {
    font-size: 1rem;
    color: #666;
    margin: 0;
}

.card:hover {
    transform: translateY(-10px);
}


footer {
    margin-top: auto;
    background-color: #242424;
    width: 100%;
}

.footer-container {
    width: 100%;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}